/**/
/**   CSS Resets + Basics! :O
/**/
body {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
  height: 100%;
  color: #444;
  line-height: 1.6em;
}
a:active, a:focus {
  outline: none;
}
h1, h2, h3, h4, h5 {
  line-height: 1.2em;
}

/**/
/**   Top Banner! :D
/**/
.banner {
  background: #3c404a;
  position: relative;
  height: 300px;
}
.banner .lead {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  min-width: 200px;
}
.banner .lead h1 {
  font-size: 3em;
  font-weight: bolder;
}
.banner .lead .lead-social {
  font-size: 1.7em;
}
.banner .lead .lead-social a {
  text-decoration: none !important;
  color: #e8e8e8;
  margin-right: 15px;
}
.banner .lead .lead-social a:hover {
  color: #fff;
}

.container {
  max-width: 650px;
  padding: 0 15px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.container h1:before {
  content: "# ";
}
.container h1,
.container h2,
.container h3 {
  color: #555;
  font-weight: bold;
  margin-top: 1.5em;
}

.gist * {
  font-family: "Lucida Console", Monaco, monospace !important;
}