/**/
/**   CSS Resets + Basics! :O
/**/
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  height: 100%;
  transition: height 1000000s ease;
  -webkit-transition: height 1000000s ease;
}
html {
  height: 100%;transition: height 1000000s ease;
  -webkit-transition: height 1000000s ease;
}
a.a-unstyled {
  color: inherit;
  text-decoration: inherit;
}
a:active, a:focus {
  outline: none !important;
}
.u-one-break {
  margin: 20px 0;
}
.u-two-break {
  margin: 30px 0;
}
.u-three-break {
  margin: 40px 0;
}
.u-four-break {
  margin: 60px 0;
}
sup a {
  text-decoration: none !important;
}
h6 {
  font-size: 1.3em;
  margin-bottom: 0.6rem;
}
.u-center {
  text-align: center;
  margin: 0 auto;
}
a.fa {
  text-decoration: none !important;
}
.container-skinny {
  max-width: 720px;
}
.u-right {
  text-align: right;
}

.profile-img {
  border-radius: 50%;
}

.page-avicus {
  background: #1da4ff;
}
.page-avicus .logo {
  width: 128px;
}
.page-avicus .screenshot {
  max-width: 100%;
  max-height: 50%;
}


/**/
/**   Top Banner! :D
/**/
.banner {
  background: #3c404a;
  background-size: cover;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}
.banner .lead {
  color: #fff;
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, 0%);
  text-align: center;
  min-width: 200px;
}
.banner .lead h1 {
  font-size: 3em;
  font-weight: bolder;
}
.banner .lead .lead-social {
  font-size: 1.5em;
}
.banner .lead .lead-social a {
  text-decoration: none !important;
  color: #e8e8e8;
  margin-right: 10px;
}
.banner .lead .lead-social a:hover {
  color: #fff;
}

/**/
/**   Pages |~_~|
/**/
.page {
  transition: height 1000000s ease;
  -webkit-transition: height 1000000s ease;
  width: 100%;
  height: 100%;
  position: relative;
}
.page.page-dark {
  color: #f4f4f4;
}
.page.page-padded {
  padding: 30px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/**/
/**   Cute mini browser! <(^_^)>
/**/
.browser {
  padding: 25px 0 0 0;
  border-radius: 3px;
  background: #ddd;
  position: relative;
  color: #5b5b5b;
  font-size: 0.9em;
}
.browser
{
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.browser:before, .browser:after
{
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  -moz-border-radius:100px / 10px;
  border-radius:100px / 10px;
}
.browser:after
{
  right:10px;
  left:auto;
  -webkit-transform:skew(8deg) rotate(3deg);
  -moz-transform:skew(8deg) rotate(3deg);
  -ms-transform:skew(8deg) rotate(3deg);
  -o-transform:skew(8deg) rotate(3deg);
  transform:skew(8deg) rotate(3deg);
}
.browser .browser-popup {
  display: none;
  position: absolute;
  padding: 15px;
  left: 50%;
  top: 50%;
  background: #ddd;
  border-radius: 3px;
  transform: translate(-50%, -50%);
  opacity: 0.9;
}
.browser .browser-bar {
  display: block;
  height: 20px;
  position: absolute;
  top: 6px;
  left: 1px;
  width: 100%;
}
.browser .browser-buttons i {
  height: 10px;
  width: 10px;
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #dadada;
  float: left;
  margin: 0 0 0 4px;
}
.browser .browser-buttons i:nth-child(1) {
  background-color: #FF564F;
}
.browser .browser-buttons i:nth-child(1):hover {
  background-color: #FF1419;
}
.browser .browser-buttons i:nth-child(2) {
  background-color: #FFB72A;
}
.browser .browser-buttons i:nth-child(2):hover {
  background-color: #E6AF2A;
}
.browser .browser-buttons i:nth-child(3) {
  background-color: #25C63A;
}
.browser .browser-buttons i:nth-child(3):hover {
  background-color: #0AE10A;
}
